export API_PORT=3000
export NODE_ENV=development

export DB_HOST=localhost
export DB_NAME=REPLACE_ME

export KEYCLOAK_HOST=localhost
export KEYCLOAK_REALM=REPLACE_ME
export KEYCLOAK_CLIENT_ID=REPLACE_ME
export KEYCLOAK_CLIENT_SECRET=REPLACE_ME